@import "../../config";

$breakpoints: (
	sm: 544px,
	md: 768px,
	lg: 1012px,
	xl: 1280px
) !default;

// Add property on specified breakpoint
@mixin breakpoint($bp-name) {
	@if map-get($breakpoints, $bp-name) != null {
		@media (max-width: map-get($breakpoints, $bp-name)) {
			@content;
		}
	}
}