@import "../config";

// Default class name for margin classes
$margin-classname: "margin" !default;

// Default values for margins:
$margin-values: (
	xs: 5px,
	s: 10px,
	m: 15px,
	l: 25px,
	xl: 50px,
	xxl: 100px
) !default;

.#{$margin-classname} {
	&-0 {
		margin: 0;
	}
	// Generate all margin classes for each margin values:
	@each $name, $value in $margin-values {
		&-#{$name} {
			margin: $value;
		}
		&-t-#{$name} {
			margin-top: $value;
		}
		&-l-#{$name} {
			margin-left: $value;
		}
		&-b-#{$name} {
			margin-bottom: $value;
		}
		&-r-#{$name} {
			margin-right: $value;
		}
	}
}