@import "../config";

// Default class name for padding classes
$padding-classname: "padding" !default;

// Default values for paddings:
$padding-values: (
	xs: 5px,
	s: 10px,
	m: 15px,
	l: 25px,
	xl: 50px,
	xxl: 100px
) !default;

.#{$padding-classname} {
	&-0 {
		padding: 0;
	}
	// Generate all padding classes for each padding values:
	@each $name, $value in $padding-values {
		&-#{$name} {
			padding: $value;
		}
		&-t-#{$name} {
			padding-top: $value;
		}
		&-l-#{$name} {
			padding-left: $value;
		}
		&-b-#{$name} {
			padding-bottom: $value;
		}
		&-r-#{$name} {
			padding-right: $value;
		}
	}
}