@import "../config";
@import "../utilities/functions/map-reverse";

$row-classname: "row" !default;
$column-classname: "column" !default;

$column-count: 12 !default;

$breakpoints: (
	sm: 544px,
	md: 768px,
	lg: 1012px,
	xl: 1280px,
) !default;

$grid-gaps: (
	standard: 5px,
) !default;

@if length($grid-gaps) == 1 {
	$gap-value: map-get($grid-gaps, nth(map-keys($grid-gaps), 1)) !global;
}

.#{$row-classname} {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	@if length($grid-gaps) == 1 {
		&.gap {
			justify-content: space-between;
		}
	}
	@else {
		// For each gap value we create a class
		@each $gap-name, $gap-value in $grid-gaps {
			&.gap-#{$gap-name} {
				justify-content: space-between;
			}
		}
	}
}

.#{$column-classname} {

	box-sizing: border-box;
	width: 100%;

	// Init auto columns:
	@for $i from 1 through $column-count {
		// By default auto columns take 100% of the space:
		&.\-#{$i} {
			width: 100%;
		}
	}

	// Init auto columns offsets:
	@for $i from 1 through $column-count {
		&.offset-#{$i} {
			margin-left: 0;
		}

		// Add gap classes if column do not take full space:
		@if length($grid-gaps) == 1 {
			// Offset for auto columns
			@at-root .#{$row-classname}.gap>&.offset-#{$i} {
				margin-left: calc(100% * #{$i} / #{$column-count} + #{$gap-value} / 2);
			}
		}
		@else {
			@each $gap-name, $gap-value in $grid-gaps {
				// Offset for auto columns
				@at-root .#{$row-classname}.gap-#{$gap-name}>&.offset-#{$i} {
					margin-left: calc(100% * #{$i} / #{$column-count} + #{$gap-value} / 2);
				}
			}
		}
	}

	// Init breakpoint columns:
	@each $bp-name, $bp-value in map-reverse($breakpoints) {
		@for $i from 1 through $column-count {
			&.#{$bp-name}-#{$i} {
				width: calc(100% * #{$i} / #{$column-count});
			}
	
			// Add gap classes if column do not take full space:
			@if length($grid-gaps) == 1 {
				@at-root .#{$row-classname}.gap>&.#{$bp-name}-#{$i} {
					@if $i < $column-count {
						width: calc(100% * #{$i} / #{$column-count} - #{$gap-value});
					}
					@else {
						width: calc(100% * #{$i} / #{$column-count});
					}
				}
			}
			@else {
				@each $gap-name, $gap-value in $grid-gaps {
					@at-root .#{$row-classname}.gap-#{$gap-name}>&.#{$bp-name}-#{$i} {
						@if $i < $column-count {
							width: calc(100% * #{$i} / #{$column-count} - #{$gap-value});
						}
						@else {
							width: calc(100% * #{$i} / #{$column-count});
						}
					}
				}
			}
		}
	}

	// Init Offset for breakpoint columns:
	@each $bp-name, $bp-value in map-reverse($breakpoints) {
		@for $i from 1 through $column-count {
			&.offset-#{$bp-name}-#{$i} {
				margin-left: calc(100% * #{$i} / #{$column-count});
			}
		}
	}

	// Add each breakpoints media queries:
	@each $bp-name, $bp-value in $breakpoints {
		@media (min-width: $bp-value) {
			@for $i from 1 through $column-count {

				// Set auto column sizes on first media query
				@if index(($breakpoints), ($bp-name $bp-value)) == 1 {
					&.\-#{$i} {
						width: calc(100% * #{$i} / #{$column-count});max-width: calc(100% * #{$i} / #{$column-count});
					}

					&.offset-#{$i} {
						margin-left: calc(100% * #{$i} / #{$column-count});
					}

					// Add gap classes if column do not take full space:
					@if length($grid-gaps) == 1 {
						@at-root .#{$row-classname}.gap>&.\-#{$i} {
							@if $i < $column-count {
								width: calc(100% * #{$i} / #{$column-count} - #{$gap-value});
							}
							@else {
								width: calc(100% * #{$i} / #{$column-count});
							}
						}

						// Offset for auto columns
						@at-root .#{$row-classname}.gap>&.offset-#{$i} {
							margin-left: calc(100% * #{$i} / #{$column-count} + #{$gap-value} / 2);
						}
					}
					@else {
						@each $gap-name, $gap-value in $grid-gaps {
							@at-root .#{$row-classname}.gap-#{$gap-name}>&.\-#{$i} {
								@if $i < $column-count {
									width: calc(100% * #{$i} / #{$column-count} - #{$gap-value});
								}
								@else {
									width: calc(100% * #{$i} / #{$column-count});
								}
							}

							// Offset for auto columns
							@at-root .#{$row-classname}.gap-#{$gap-name}>&.offset-#{$i} {
								margin-left: calc(100% * #{$i} / #{$column-count} + #{$gap-value} / 2);
							}
						}
					}
				}

				&.#{$bp-name}-#{$i} {
					width: calc(100% * #{$i} / #{$column-count});
				}

				&.offset-#{$bp-name}-#{$i} {
					margin-left: calc(100% * #{$i} / #{$column-count});
				}

				// Add gap classes if column do not take full space:
				@if length($grid-gaps) == 1 {
					@at-root .#{$row-classname}.gap>&.#{$bp-name}-#{$i} {
						@if $i < $column-count {
							width: calc(100% * #{$i} / #{$column-count} - #{$gap-value});
						}
						@else {
							width: calc(100% * #{$i} / #{$column-count});
						}
					}

					// Offset
					@at-root .#{$row-classname}.gap>&.offset-#{$bp-name}-#{$i} {
						margin-left: calc(100% * #{$i} / #{$column-count} + #{$gap-value} / 2);
					}
				}
				@else {
					@each $gap-name, $gap-value in $grid-gaps {
						@at-root .#{$row-classname}.gap-#{$gap-name}>&.#{$bp-name}-#{$i} {
							@if $i < $column-count {
								width: calc(100% * #{$i} / #{$column-count} - #{$gap-value});
							}
							@else {
								width: calc(100% * #{$i} / #{$column-count});
							}
						}

						// Offset
						@at-root .#{$row-classname}.gap-#{$gap-name}>&.offset-#{$bp-name}-#{$i} {
							margin-left: calc(100% * #{$i} / #{$column-count} + #{$gap-value} / 2);
						}
					}
				}
			}
		}
	}
}