@import "../config";

// Default class name for display classes
$display-classname: "display" !default;

$display-values: (
	b: block,
	i: inline,
	ib: inline-block,
	none: none,
) !default;

.#{$display-classname} {
	@each $name, $value in $display-values {
		&-#{$name} {
			display: $value;
		}
	}
}