@import "../config";

// Default class name for float classes
$float-classname: "float" !default;

$float-values: (
	r: right,
	l: left
) !default;

.#{$float-classname} {
	@each $name, $value in $float-values {
		&-#{$name} {
			float: $value;
		}
	}
	&-clear {
		clear: both;
	}
}