@import "../config";

// Default class name for margin classes
$margin-classname: "margin" !default;

// Default values for margins:
$margin-values: (
	xs: 4px,
	s: 8px,
	m: 16px,
	l: 24px,
	xl: 32px,
	xxl: 40px
) !default;

.#{$margin-classname} {
	&-0 {
		margin: 0;
	}
	// Generate all margin classes for each margin values:
	@each $name, $value in $margin-values {
		&-#{$name} {
			margin: $value;
		}
		&-t-#{$name} {
			margin-top: $value;
		}
		&-l-#{$name} {
			margin-left: $value;
		}
		&-b-#{$name} {
			margin-bottom: $value;
		}
		&-r-#{$name} {
			margin-right: $value;
		}
		&-lr-#{$name} {
			margin-left: $value;
			margin-right: $value;
		}
		&-tb-#{$name} {
			margin-top: $value;
			margin-bottom: $value;
		}
	}
}