@import "../config";

// Default class name for padding classes
$padding-classname: "padding" !default;

// Default values for paddings:
$padding-values: (
	xs: 4px,
	s: 8px,
	m: 16px,
	l: 24px,
	xl: 32px,
	xxl: 40px
) !default;

.#{$padding-classname} {
	&-0 {
		padding: 0;
	}
	// Generate all padding classes for each padding values:
	@each $name, $value in $padding-values {
		&-#{$name} {
			padding: $value;
		}
		&-t-#{$name} {
			padding-top: $value;
		}
		&-l-#{$name} {
			padding-left: $value;
		}
		&-b-#{$name} {
			padding-bottom: $value;
		}
		&-r-#{$name} {
			padding-right: $value;
		}
		&-lr-#{$name} {
			padding-left: $value;
			padding-right: $value;
		}
		&-tb-#{$name} {
			padding-top: $value;
			padding-bottom: $value;
		}
	}
}