
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* https://colorhunt.co/palette/152232 */

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: #fff7f7;
	color: #204969;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-logo {
	height: 50px;
	display: block;
}

.header-brand {
	font-size: 2.5rem;
	font-weight: 900;
}

.box {
	margin: 5px 0;
	background-color: #204969;
	border-radius: 5px;
}